<%= form_with(model: @contact, url: contact_index_path) do |form| %>
  <div>
    <%= form.label :fullname %>
    <%= form.text_field :fullname %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div>
    <%= form.submit 'Send Email' %>
  </div>
<% end %>
